.popup-content {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
}
.link-item {
  text-decoration: none;
  color: black;
}
.popup-content-logout {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 30vw;
}
